<!--==========================
    INSIDE HERO SECTION Section
============================-->
	<section class="page-image page-image-blog md-padding">
		<h1 class="text-white text-center">BLOG</h1>
	</section>

	<!--==========================
    Contact Section
============================-->
	<section id="blog" class="md-padding">
		<div class="container">
			<div class="row">
				<main id="main" class="col-md-8">
					{{#if sessionFlash.message}}
						<div class="{{sessionFlash.type}}">
							{{sessionFlash.message}}
						</div> 
					{{/if}}
					<div class="row">
						{{#each posts}} {{!-- Her post geldiği zaman --}}
						<div class="col-md-6">
							<div class="blog">
								<div class="blog-img">
									<img src="{{post_image}}" class="img-fluid">
								</div>
								<div class="blog-content">
									<ul class="blog-meta">
										<li><i class="fas fa-users"></i><span class="writer">{{author.username}}</span></li>
										<li><i class="fas fa-clock"></i><span class="writer">{{generateDate date 'MMM DD YYYY'}}</span></li>
										<li><i class="fas fa-comments"></i><span class="writer">13</span></li>
									</ul>
									<h3>{{title}}</h3> {{!-- Post.js dek title'dan geliyor. --}}
									<p>{{content}}</p>
									<a href="/posts/{{_id}}">Read More</a>
								</div>
							</div>
						</div>
						{{/each}}
                        <nav aria-label="Page navigation example">
  							<ul class="pagination justify-content-center">
    							<li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">Previous</a></li>
    							<li class="page-item"><a class="page-link" href="#">1</a></li>
    							<li class="page-item"><a class="page-link" href="#">2</a></li>
    							<li class="page-item"><a class="page-link" href="#">3</a></li>
    							<li class="page-item"><a class="page-link" href="#">Next</a></li>
  							</ul>
						</nav>
					</div>
				</main>
				
				<aside id="aside" class="col-md-4">
                    
                    <div class="widget">
						<div class="widget-search">
							<input class="search-input form-control" type="text" placeholder="Search">
							<button class="search-btn" type="button"><i class="fas fa-search"></i></button>
						</div>
					</div>
					<!-- /Search -->

                    
					<!-- Category -->
					{{> site-sidebar}}
					<!-- /Category -->

					<!-- Posts sidebar -->
					<div class="widget">
						<h3 class="mb-3">Latest Posts</h3>

						<!-- single post -->
						<div class="widget-post">
							<a href="#">
								<img class="img-fluid" src="./img/post1.jpg" alt="">Lorem Ipsum
							</a>
							<ul class="blog-meta">
								<li>Oct 18, 2017</li>
							</ul>
						</div> 
						<!-- /single post -->

						<!-- single post -->
						<div class="widget-post">
							<a href="#">
								<img src="./img/post2.jpg" alt="">Lorem Ipsum
							</a>
							<ul class="blog-meta">
								<li>Oct 18, 2017</li>
							</ul>
						</div> 
						<!-- /single post -->


						<!-- single post -->
						 <div class="widget-post">
							<a href="#">
								<img src="./img/post3.jpg" alt="">Lorem Ipsum
							</a>
							<ul class="blog-meta">
								<li>Oct 18, 2017</li>
							</ul>
						</div>
						<!-- /single post -->
					</div>
					
				</aside>
			</div>
		</div>
	</section>